pkgbase = babel-eslint-plugin
	pkgdesc = @babel/eslint-parser allows you to lint ALL valid Babel code with the fantastic ESLint
	pkgver = 7.26.8
	pkgrel = 1
	url = https://github.com/babel/babel
	arch = any
	license = MIT
	makedepends = npm
	depends = eslint
	noextract = eslint-parser-7.26.8.tgz
	source = https://registry.npmjs.org/@babel/eslint-parser/-/eslint-parser-7.26.8.tgz
	sha256sums = 654c4922c73ee4d5cca481f917d8321ca6ea876f3cfb88c086b392743eacd4bf

pkgname = babel-eslint-plugin
